django==3.2
djangorestframework==3.12.2
fcm-django==0.3.7
opencv-python~=4.8.0.76
Pillow
djoser==2.1.0
django-webpack-loader==1.0.0
django-filter==2.4.0
django-cors-headers==3.7.0
imageio~=2.31.2
suntime==1.2.5
django-import-export==2.7.1
django_cron==0.6.0
paho-mqtt~=1.6.1
certifi~=2023.7.22
requests~=2.31.0
geopandas~=0.14.3
geopy~=2.4.1
shapely~=2.0.2