django==3.2
djangorestframework==3.12.2
fcm-django==0.3.7
opencv-python
Pillow
djoser==2.1.0
django-webpack-loader==1.0.0
django-filter==2.4.0
django-cors-headers==3.7.0
imageio
suntime==1.2.5
django-import-export==2.7.1
django_cron==0.6.0
paho-mqtt
certifi
